* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

a {
    text-decoration: none;
    color: #00458B;
}

:root {
  /*   (Teal Green)
    (Olive Green)
    #A9D96B (Light Lime Green)
    #F3F7E7 (Pale Yellow)
    #FFFFFF (White)

    (Bright Blue)
#89CFF0 (Sky Blue)
#B3DDF2 (Pale Blue)
#F0F5F9 (Light Gray Blue)
#FFFFFF (White)*/


    --bg-color: #FFFFFF;
    --second-bg-color: #202020;
    --text-color: #0072BB  ;
    --second-color: #5f5c5c;
    --main-color:   #76B947;
    --big-font: 5rem;
    --h2-font: 2.5rem;
    --p-font: 1.1rem;

}

body {
    background-image: -moz-linear-gradient();
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 9999;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.5);
    padding: 22px 25%;
    
    transition: all .45s ease;


}

.section {
    padding: 150px 15% 120px;
}
.home{
   height: 100vh;
   padding: 150px 15% 120px;
 
  
}

.home-section{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.4)), url('image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
    height: 100vh;
   
   
}

header .navbar ul{
    display: flex;
    justify-content: space-between;
 
}
header .navbar{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

}
.navbar a{
font-size: 1rem;
color: #FFFFFF;
}
.name{
   
    text-align: center;
}
.name h3{
    font-size: 4rem;
    font-weight:900;
    color: var(--bg-color);
    margin-top: 1rem;
}
.name p{
    font-size:1.5rem;
    color: var(--bg-color);
  
}
.name span{
  
    background-color: rgba(0, 0, 0, 0.5);
    padding: .5rem 1rem;
    border-radius: 5px;
    color: var(--main-color);
}
 .scroll-btn{
    text-align: center;
    margin-top: 15rem;
    font-size: 1rem;
    
    
}
.scroll-btn a:hover{
   background-color: black;
    
    
}
.scroll-btn i{
    padding-left: .5rem;
}
.scroll-btn a{
    background-color:rgba(0, 0, 0, 0.5);
    padding: 0.7rem 2rem;
    border-radius: 5px;
    color: #FFFFFF;
 
    
}

.fa-bars {
    font-size: 35px;
    z-index: 1001;
    cursor: pointer;
    text-align: end;
    color: var(--bg-color);
    display: none !important;
    
}

.fa-xmark:before {
    content: '\f00d';
    font-size: 35px;
    z-index: 1001;
    cursor: pointer;
   text-align: end;
    color: var(--bg-color);
   

}

.fa-xmark {
  
   text-align: end;
 

}

.mobile-navlist {
    border-radius: 5px;
    margin: 1rem;
    
}
.nav-item.active a{
    color: var(--main-color);
   }


.about{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.4)), url('eastern.jpg');
}

.about h3{
    color: var(--main-color);
    text-align: center;
    font-size: 2rem;
}
.about p{
    color: var(--bg-color);
    margin-top: 7rem;
}
.about .scroll-btn{
    margin-top: 7rem;
}

.portfolio-content{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,auto));
    align-items:center;
    gap:2.5rem;
    margin-top:5rem;
    }
    .row{
    position:relative;
    overflow:hidden;
    cursor:pointer;
    }

    iframe{
        width:100%;
    }

    .portfolio h3{
        color: var(--main-color);
        text-align: center;
        font-size: 2rem;
    }

.portfolio{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.4)), url('eastern1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.portfolio .scroll-btn{
    margin-top: 5rem;
}

footer{
    
    display: flex;
    
    justify-content: space-between;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0,0,0, 0.7)), url('footer.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 15% 50px;
    
}
footer ul{
    display: flex;
    justify-content: space-between;
    
 
}
.navbar-footer{
    display: block;
}
footer i{
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--bg-color);
}
footer i:hover{
    color: var(--main-color);
}
.navbar-footer a:hover{
    text-decoration: underline;
    color: var(--main-color);
}
.navbar-footer a{
    color: var(--bg-color);
}









@media(max-width:1480px) {

    header {
       
        padding: 22px 20%;
        transition: .1s;
    }

 

 

}

@media(max-width:1100px) {
    :root {
        --big-font: 4rem;
        --h2-font: 2.5rem;
        --p-font: 1rem;
        transition: .1s;
    }

  
}

@media(max-width:920px) {
    .about {
        grid-template-columns: 1fr;
    }



 
}








@media(max-width:890px) {

    header{
        padding: 1rem;
    }

 .home-section{
    padding: 0;
    text-align: center;
   
 }

.section{
    padding: 100px 8% 80px;
}

 .home .name h3{
    font-size: 2rem;
 }

    .open-bar {
        display: block !important;

    }

    .navbar {
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background:rgba(0, 0, 0, 1);
        text-align: center;
        transition: all .45s ease;

    }

    .navbar a {
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45 ease;

    }

    .navbar.open {
        top: 100%;
    }
    .navbar a{
        font-size: 1rem;
        color:var(--bg-color);
        }


  .about{
    height: 100%;
  }
    
        .about p{
            color: var(--bg-color);
            margin-top: 3rem;
        }
        .about .scroll-btn{
            margin-top: 2rem;
        }
        .portfolio{
            height: 100%;
          }
            
                .portfolio p{
                    color: var(--bg-color);
                    margin-top: 3rem;
                }
                .portfolio .scroll-btn{
                    margin-top: 2rem;
                }


}

@media(max-width:500px) {
   
    .home{
        padding: 20rem 15px 30px;
       
       
     }
     .home-section .scroll-btn{
    
        margin-top: 4rem;
    
    }
    .home-section{
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.4)), url('image2.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      
        height: 100vh;
       
       
    }
   


}
@media(max-width:365px) {




}

@media(max-width:340px) {

    .soft-skills{


     grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    
     
     }
}